


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu{
    display: flex;
    background-color:#f5f3f3;
     justify-content: space-around; /*cambio de posocin el header */
    padding: 10px 50px;
}

.portada{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/hero.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    

}

.portada .title{
    color: white;
    padding: 80px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
}

.portada p{
    color: white;
    font-size: 20px;
    padding-left: 80px;

}

.portada #buscador{
    width: 20%;
    height: 10%;
    margin-left: 80px;
    margin-top: 10px;
    border: none;
    outline: none;
    border: 1px solid rgb(52, 141, 231);
    border-radius: 10px;

    
    
}

/* informacion */

.informacion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 30px;
    background: #741d51; /* Old browsers */
    background: -moz-linear-gradient(left, #1fca33 0%, #fd0f17 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1fca33 0%,#fd0f17 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1fca33 0%,#fd0f17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */

    color: white;
}


/* contenido */

.productos{
    text-align: center;
    padding: 30px;
    background-color:  #e1e1e1;
    
}


.contenido{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 30px 200px;
    
}

.contenido .tarjetas{
    margin: 10px;
    border-radius: 15px;
    background-color: white;
}


.contenido .tarjetas .img{
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    
}

.fin{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 30px;
    
    background-color:  #e1e1e1;
}


.fin a{
    margin: 5px;
    color: #1EAEDB;
    cursor: pointer;
}

.fin a:hover{
    color: #0FA0CE;

}

.carrito{
    display: block;
    right:100px;
    z-index: 1;


}


.productos .contenido .agregar{
    width: 80%;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color:  #1EAEDB;
    border: none;
    margin-top: 30px;
}

.productos .contenido.agregar:hover{
    background-color:  #0FA0CE;

}


/* productos agregados */


.despliegue a{
    text-decoration: none;
}

.despliegue{
    position: fixed; 
    top: 7.5vh;
    right: 10px;
    width: 51vh;
    height: auto;
    background-color: white;
    text-align: center;
    z-index: 300;
    overflow: hidden;
    transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
    scroll-behavior: auto;
    
    

}

.despliegue .cont .categoria{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    padding: 15px;
    
    
    
    
}

.despliegue .cont .categoria a{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    
}

.eliminar{
        /* para que coja como referencia su padre */
    bottom: 5px;
    right: 50%;
    text-align: center;
    
    
   
    
    
    
    
}

.agregado{
    margin: 15px;
    display: grid;
    


}



.btn{
    position: relative;
    width: 80%;
    bottom: 5px;
    height: 30px;
    border: none;
    background-color: blueviolet; 
    border-radius: 10px;
    margin: 20px;
    
}
.btn-cerrar{
    position: relative;
    width: 50%;
    bottom: 5px;
    height: 30px;
    border: none;
    background-color: #ffc800; 
    border-radius: 10px;
    margin: 20px;
    bottom: 0;
    
}

.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    margin: 20px;
}

.imagen_{
    width: 100px;
    height: 100px;
}







/* funciones de js */

.desaparecer{
    display: none;
}








